<h1> Pet Adoption Shelters </h1>

<section class="shelters">
  <% @shelters.each do |shelter| %>
    <ul>
      <li> <%= link_to shelter.name, "/shelters/#{shelter.id}" %> </li>
    </ul>
    <% end %>
</section>

<h2> <%= link_to "New Shelter", "/shelters/new" %> </h2>
